section.districts
    .districts__container
        nav.districts__nav(data-simplebar)
            ul.districts__filter.districts-filter
                li
                    button.districts-filter__button.__active все
                li
                    button.districts-filter__button Возле моря
                li
                    button.districts-filter__button жизнь у лагуны
                li
                    button.districts-filter__button в центре
                li
                    button.districts-filter__button спальные районы
                li
                    button.districts-filter__button коттеджные поселки
        .districts__offers.districts-offers
            .districts-offers__offer.offer
                .offer__img-ibg
                    img(src="img/png/Mask.png" alt="DOWNTOWN DUBAI")
                .offer__name DOWNTOWN DUBAI
                .offer__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vel tellus ipsum, tristique nisi. Posuere maecenas enim, fermentum a. Pretium eu magna magna lectus sit vulputate. Nunc enim, lacinia leo sollicitudin euismod id nam morbi tempus. Metus diam velit urna ornare mi odio a tellus. Nisl et faucibus tempor elementum, et. Quam non ultrices quis morbi scelerisque ante interdum. Curabitur sit est laoreet amet risus, ipsum. Auctor suspendisse orci at ipsum, nisi, integer. Vivamus lectus felis turpis aliquam viverra eu lorem. Pretium quis in quisque consequat, nisi.
                button.button-g.offer__btn Подобрать в этом районе
            .districts-offers__offer.offer
                .offer__img-ibg
                    img(src="img/png/Mask.png" alt="DOWNTOWN DUBAI")
                .offer__name DOWNTOWN DUBAI
                .offer__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vel tellus ipsum, tristique nisi. Posuere maecenas enim, fermentum a. Pretium eu magna magna lectus sit vulputate. Nunc enim, lacinia leo sollicitudin euismod id nam morbi tempus. Metus diam velit urna ornare mi odio a tellus. Nisl et faucibus tempor elementum, et. Quam non ultrices quis morbi scelerisque ante interdum. Curabitur sit est laoreet amet risus, ipsum. Auctor suspendisse orci at ipsum, nisi, integer. Vivamus lectus felis turpis aliquam viverra eu lorem. Pretium quis in quisque consequat, nisi.
                button.button-g.offer__btn Подобрать в этом районе
            .districts-offers__offer.offer
                .offer__img-ibg
                    img(src="img/png/Mask.png" alt="DOWNTOWN DUBAI")
                .offer__name DOWNTOWN DUBAI
                .offer__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vel tellus ipsum, tristique nisi. Posuere maecenas enim, fermentum a. Pretium eu magna magna lectus sit vulputate. Nunc enim, lacinia leo sollicitudin euismod id nam morbi tempus. Metus diam velit urna ornare mi odio a tellus. Nisl et faucibus tempor elementum, et. Quam non ultrices quis morbi scelerisque ante interdum. Curabitur sit est laoreet amet risus, ipsum. Auctor suspendisse orci at ipsum, nisi, integer. Vivamus lectus felis turpis aliquam viverra eu lorem. Pretium quis in quisque consequat, nisi.
                button.button-g.offer__btn Подобрать в этом районе

