section.articles
    .articles__container
        h2.articles__title Где лучше купить квартиру или апартаменты в ОАЭ?
        .articles__grid
            .articles__item
                .img-ibg
                    img(alt="A lazy image" src="img/png/rus.webp")
                .articles__desc
                    h2.articles__name DOWNTOWN DUBAI
                    .articles__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vel tellus ipsum, tristique nisi. Posuere maecenas enim, fermentum a. Pretium eu magna magna lectus sit vulputate. Nunc enim, lacinia leo sollicitudin euismod id nam morbi tempus. Metus diam velit urna ornare mi odio a tellus. Nisl et faucibus tempor elementum, et. Quam non ultrices quis morbi scelerisque ante interdum. Curabitur sit est laoreet amet risus, ipsum. Auctor suspendisse orci at ipsum, nisi, integer. Vivamus lectus felis turpis aliquam viverra eu lorem. Pretium quis in quisque consequat, nisi.
                    button.button-g.articles__btn.popup-link(data-popup="#popup2") Подобрать в этом районе
            .articles__item
                .img-ibg
                    img(alt="A lazy image" src="img/png/rus.webp")
                .articles__desc
                    h2.articles__name DOWNTOWN DUBAI
                    .articles__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vel tellus ipsum, tristique nisi. Posuere maecenas enim, fermentum a. Pretium eu magna magna lectus sit vulputate. Nunc enim, lacinia leo sollicitudin euismod id nam morbi tempus. Metus diam velit urna ornare mi odio a tellus. Nisl et faucibus tempor elementum, et. Quam non ultrices quis morbi scelerisque ante interdum. Curabitur sit est laoreet amet risus, ipsum. Auctor suspendisse orci at ipsum, nisi, integer. Vivamus lectus felis turpis aliquam viverra eu lorem. Pretium quis in quisque consequat, nisi.
                    button.button-g.articles__btn.popup-link(data-popup="#popup2") Подобрать в этом районе
            .articles__item
                .img-ibg
                    img(alt="A lazy image" src="img/png/rus.webp")
                .articles__desc
                    h2.articles__name DOWNTOWN DUBAI
                    .articles__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vel tellus ipsum, tristique nisi. Posuere maecenas enim, fermentum a. Pretium eu magna magna lectus sit vulputate. Nunc enim, lacinia leo sollicitudin euismod id nam morbi tempus. Metus diam velit urna ornare mi odio a tellus. Nisl et faucibus tempor elementum, et. Quam non ultrices quis morbi scelerisque ante interdum. Curabitur sit est laoreet amet risus, ipsum. Auctor suspendisse orci at ipsum, nisi, integer. Vivamus lectus felis turpis aliquam viverra eu lorem. Pretium quis in quisque consequat, nisi.
                    button.button-g.articles__btn.popup-link(data-popup="#popup2") Подобрать в этом районе

