section.author.author-bg
    .author__container
        .author__grid
            .author__text
                h2.author__title Лучшая недвижимость от застройщика в ОАЭ
                .author__sesc
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Urna tristique commodo pharetra, aliquam quis tortor. Ut nunc volutpat et mi arcu. Urna nulla pharetra tortor fringilla augue placerat lectus. Pretium ipsum netus enim varius. Diam pharetra nulla massa amet tortor felis amet. Eget sagittis, cursus odio sociis pellentesque.

            .author__img
                .img-ibg
                    img(alt="A lazy image" src="img/png/rus.png")
                .author__signature <b>Руслан Третьяков</b> , руководитель компании Brick to Brick
