section.first.boarding(style="background-image: url(./img/png/first.png);")
    .first__container
        h1.first__title Новостройки от застройщика DAMAC properties
        p.first__subTitle Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pretium placerat fringilla feugiat mauris id. A ridiculus quam odio orci porttitor amet. Sem id ultricies lorem eget senectus. Viverra eget nulla nunc in. Id leo duis nunc convallis sit parturient nisi.

        .first__grid.first-grid
            .first-grid__item
                svg(width='20', height='20', viewbox='0 0 20 20', fill='none', xmlns='http://www.w3.org/2000/svg')
                    path(fill-rule='evenodd', clip-rule='evenodd', d='M17.7778 0H2.22222C1 0 0 1 0 2.22222V17.7778C0 19 1 20 2.22222 20H17.7778C19 20 20 19 20 17.7778V2.22222C20 1 19 0 17.7778 0ZM7.77778 15.5556L2.22222 10L3.77778 8.44444L7.77778 12.4444L16.2222 4L17.7778 5.55556L7.77778 15.5556Z', fill='white')
                p 7 новостроек
            .first-grid__item
                svg(width='20', height='20', viewbox='0 0 20 20', fill='none', xmlns='http://www.w3.org/2000/svg')
                    path(fill-rule='evenodd', clip-rule='evenodd', d='M17.7778 0H2.22222C1 0 0 1 0 2.22222V17.7778C0 19 1 20 2.22222 20H17.7778C19 20 20 19 20 17.7778V2.22222C20 1 19 0 17.7778 0ZM7.77778 15.5556L2.22222 10L3.77778 8.44444L7.77778 12.4444L16.2222 4L17.7778 5.55556L7.77778 15.5556Z', fill='white')
                p от 25 900 000 ₽
            .first-grid__item
                svg(width='20', height='20', viewbox='0 0 20 20', fill='none', xmlns='http://www.w3.org/2000/svg')
                    path(fill-rule='evenodd', clip-rule='evenodd', d='M17.7778 0H2.22222C1 0 0 1 0 2.22222V17.7778C0 19 1 20 2.22222 20H17.7778C19 20 20 19 20 17.7778V2.22222C20 1 19 0 17.7778 0ZM7.77778 15.5556L2.22222 10L3.77778 8.44444L7.77778 12.4444L16.2222 4L17.7778 5.55556L7.77778 15.5556Z', fill='white')
                p для жизни и инвестиций
        form.boarding__form
            .boarding__content
                .boarding__title Скачайте каталог новых проектов от DAMAC properties
                .boarding__grid
                    input.input(placeholder='+ 7 (999) 999 99 99')
                    p PDG, 9 Мб
                .boarding__politics Нажав на кнопку, я даю согласие на обработку <a href="#">персональных данных</a>
                button.button-g Скачть каталог
            .boarding__img-ibg
                img(src='./img/png/a__.png' alt="")
