section.column
    .column__container
        h2.column__title Почему выгодно инвестировать в недвижимость Дубая
        .column__el.column-el
            .column-el__img
                img(src='./img/svg/11.svg')
            .column-el__title срок окупаемости от 10 лет
            .column-el__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vel tellus ipsum, tristique nisi. Posuere maecenas enim, fermentum a. Pretium eu magna magna lectus sit vulputate. Nunc enim, lacinia leo sollicitudin euismod id nam morbi tempus. Metus diam velit urna ornare mi odio a tellus.
        .column__el.column-el
            .column-el__img
                img(src='./img/svg/12.svg')
            .column-el__title Постоянный спрос на аренду
            .column-el__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vel tellus ipsum, tristique nisi. Posuere maecenas enim, fermentum a. Pretium eu magna magna lectus sit vulputate. Nunc enim, lacinia leo sollicitudin euismod id nam morbi tempus. Metus diam velit urna ornare mi odio a tellus.
        .column__el.column-el
            .column-el__img
                img(src='./img/svg/13.svg')
            .column-el__title гибкая система налогообложения
            .column-el__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vel tellus ipsum, tristique nisi. Posuere maecenas enim, fermentum a. Pretium eu magna magna lectus sit vulputate. Nunc enim, lacinia leo sollicitudin euismod id nam morbi tempus. Metus diam velit urna ornare mi odio a tellus.
        .column__el.column-el
            .column-el__img
                img(src='./img/svg/14.svg')
            .column-el__title большой приток туристов
            .column-el__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vel tellus ipsum, tristique nisi. Posuere maecenas enim, fermentum a. Pretium eu magna magna lectus sit vulputate. Nunc enim, lacinia leo sollicitudin euismod id nam morbi tempus. Metus diam velit urna ornare mi odio a tellus.
        .column__el.column-el
            .column-el__img
                img(src='./img/svg/15.svg')
            .column-el__title устойчивое развитие экономики
            .column-el__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vel tellus ipsum, tristique nisi. Posuere maecenas enim, fermentum a. Pretium eu magna magna lectus sit vulputate. Nunc enim, lacinia leo sollicitudin euismod id nam morbi tempus. Metus diam velit urna ornare mi odio a tellus.
        .column__el.column-el
            .column-el__img
                img(src='./img/svg/16.svg')
            .column-el__title рынок недвижимости упорядочен
            .column-el__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vel tellus ipsum, tristique nisi. Posuere maecenas enim, fermentum a. Pretium eu magna magna lectus sit vulputate. Nunc enim, lacinia leo sollicitudin euismod id nam morbi tempus. Metus diam velit urna ornare mi odio a tellus.



