section.form-bg(style='background-image: url("./img/png/form-bg.png");')
    .form-bg__container
        .form-bg__body
            h2.form-bg__title закажите обратный звонок
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Urna tristique commodo pharetra, aliquam quis tortor. Ut nunc volutpat et mi arcu. Urna nulla pharetra tortor fringilla augue placerat lectus.
            form.form-bg__form
                .form-bg__bd
                    input.input(placeholder='Ваше имя')
                    //.choicePfoneNumber
                    //    select.language
                    //        option(selected data-asset='./img/svg/Ru.svg') Ru
                    //        option(data-asset='./img/svg/en.svg') En
                    input.input(placeholder='+ 7 (999) 999 99 99')

                p Нажав на кнопку, я даю согласие на обработку <a href=''>персональных данных</a>
                button.button-g.form-bg__btn Заказать звонок
