section.tab-form
    .tab-form__container
        h2.tab-form__title Популярные подборки

        .tabs(data-tabs data-tabs-animate)
            .tabs__navigation(data-tabs-titles data-simplebar)
                button(data-tabs-title='1').tabs__title._tab-active  Пляжный
                button(data-tabs-title='2').tabs__title  центр города
                button(data-tabs-title='3').tabs__title  виллы и особняки
                button(data-tabs-title='4').tabs__title  пентхаусы
                button(data-tabs-title='5').tabs__title  жизнь на marina
                button(data-tabs-title='6').tabs__title  спальный район
            .tabs__content(data-tabs-body)
                .main-tab__body(data-tabs-item="1")
                    .swiper.card-swiper
                        .swiper-wrapper
                            .swiper-slide.card
                                .card__img-ibg
                                    img(src='./img/png/Mask.webp' alt="")
                                .card__padding
                                    .card__name PANTHEON ELYSEE III
                                    ul.card__description
                                        li
                                            img(src='./img/svg/double-bed.svg' alt="")
                                            span студии, 2 и 3 спальни
                                        li
                                            img(src='./img/svg/scale.svg' alt="")
                                            span от 37 до 111 м²
                                        li
                                            img(src='./img/svg/ruble.svg' alt="")
                                            span от 12 млн.
                                    button.button-g.card__btn.popup-link(data-popup="#popup2") Подобрать в этом комплексе
                            .swiper-slide.card
                                .card__img-ibg
                                    img(src='./img/png/Mask.webp' alt="")
                                .card__padding
                                    .card__name PANTHEON ELYSEE III
                                    ul.card__description
                                        li
                                            img(src='./img/svg/double-bed.svg' alt="")
                                            span студии, 2 и 3 спальни
                                        li
                                            img(src='./img/svg/scale.svg' alt="")
                                            span от 37 до 111 м²
                                        li
                                            img(src='./img/svg/ruble.svg' alt="")
                                            span от 12 млн.
                                    button.button-g.card__btn.popup-link(data-popup="#popup2") Подобрать в этом комплексе

                            .swiper-slide.card
                                .card__img-ibg
                                    img(src='./img/png/Mask.webp' alt="")
                                .card__padding
                                    .card__name PANTHEON ELYSEE III
                                    ul.card__description
                                        li
                                            img(src='./img/svg/double-bed.svg' alt="")
                                            span студии, 2 и 3 спальни
                                        li
                                            img(src='./img/svg/scale.svg' alt="")
                                            span от 37 до 111 м²
                                        li
                                            img(src='./img/svg/ruble.svg' alt="")
                                            span от 12 млн.
                                    button.button-g.card__btn.popup-link(data-popup="#popup2") Подобрать в этом комплексе


                .main-tab__body(data-tabs-item="2")
                    .swiper.card-swiper
                        .swiper-wrapper
                            .swiper-slide.card
                                .card__img-ibg
                                    img(src='./img/png/Mask.webp' alt="")
                                .card__padding
                                    .card__name PANTHEON ELYSEE III
                                    ul.card__description
                                        li
                                            img(src='./img/svg/double-bed.svg' alt="")
                                            span студии, 2 и 3 спальни
                                        li
                                            img(src='./img/svg/scale.svg' alt="")
                                            span от 37 до 111 м²
                                        li
                                            img(src='./img/svg/ruble.svg' alt="")
                                            span от 12 млн.
                                    .button-g.card__btn Подобрать в этом комплексе
                            .swiper-slide.card
                                .card__img-ibg
                                    img(src='./img/png/Mask.webp' alt="")
                                .card__padding
                                    .card__name PANTHEON ELYSEE III
                                    ul.card__description
                                        li
                                            img(src='./img/svg/double-bed.svg' alt="")
                                            span студии, 2 и 3 спальни
                                        li
                                            img(src='./img/svg/scale.svg' alt="")
                                            span от 37 до 111 м²
                                        li
                                            img(src='./img/svg/ruble.svg' alt="")
                                            span от 12 млн.
                                    .button-g.card__btn Подобрать в этом комплексе

                            .swiper-slide.card
                                .card__img-ibg
                                    img(src='./img/png/Mask.webp' alt="")
                                .card__padding
                                    .card__name PANTHEON ELYSEE III
                                    ul.card__description
                                        li
                                            img(src='./img/svg/double-bed.svg' alt="")
                                            span студии, 2 и 3 спальни
                                        li
                                            img(src='./img/svg/scale.svg' alt="")
                                            span от 37 до 111 м²
                                        li
                                            img(src='./img/svg/ruble.svg' alt="")
                                            span от 12 млн.
                                    .button-g.card__btn Подобрать в этом комплексе


                .main-tab__body(data-tabs-item="3")
                    .swiper.card-swiper
                        .swiper-wrapper
                            .swiper-slide.card
                                .card__img-ibg
                                    img(src='./img/png/Mask.webp' alt="")
                                .card__padding
                                    .card__name PANTHEON ELYSEE III
                                    ul.card__description
                                        li
                                            img(src='./img/svg/double-bed.svg' alt="")
                                            span студии, 2 и 3 спальни
                                        li
                                            img(src='./img/svg/scale.svg' alt="")
                                            span от 37 до 111 м²
                                        li
                                            img(src='./img/svg/ruble.svg' alt="")
                                            span от 12 млн.
                                    .button-g.card__btn Подобрать в этом комплексе
                            .swiper-slide.card
                                .card__img-ibg
                                    img(src='./img/png/Mask.webp' alt="")
                                .card__padding
                                    .card__name PANTHEON ELYSEE III
                                    ul.card__description
                                        li
                                            img(src='./img/svg/double-bed.svg' alt="")
                                            span студии, 2 и 3 спальни
                                        li
                                            img(src='./img/svg/scale.svg' alt="")
                                            span от 37 до 111 м²
                                        li
                                            img(src='./img/svg/ruble.svg' alt="")
                                            span от 12 млн.
                                    .button-g.card__btn Подобрать в этом комплексе

                            .swiper-slide.card
                                .card__img-ibg
                                    img(src='./img/png/Mask.webp' alt="")
                                .card__padding
                                    .card__name PANTHEON ELYSEE III
                                    ul.card__description
                                        li
                                            img(src='./img/svg/double-bed.svg' alt="")
                                            span студии, 2 и 3 спальни
                                        li
                                            img(src='./img/svg/scale.svg' alt="")
                                            span от 37 до 111 м²
                                        li
                                            img(src='./img/svg/ruble.svg' alt="")
                                            span от 12 млн.
                                    .button-g.card__btn Подобрать в этом комплексе


                .main-tab__body(data-tabs-item="4")
                    .swiper.card-swiper
                        .swiper-wrapper
                            .swiper-slide.card
                                .card__img-ibg
                                    img(src='./img/png/Mask.webp' alt="")
                                .card__padding
                                    .card__name PANTHEON ELYSEE III
                                    ul.card__description
                                        li
                                            img(src='./img/svg/double-bed.svg' alt="")
                                            span студии, 2 и 3 спальни
                                        li
                                            img(src='./img/svg/scale.svg' alt="")
                                            span от 37 до 111 м²
                                        li
                                            img(src='./img/svg/ruble.svg' alt="")
                                            span от 12 млн.
                                    .button-g.card__btn Подобрать в этом комплексе
                            .swiper-slide.card
                                .card__img-ibg
                                    img(src='./img/png/Mask.webp' alt="")
                                .card__padding
                                    .card__name PANTHEON ELYSEE III
                                    ul.card__description
                                        li
                                            img(src='./img/svg/double-bed.svg' alt="")
                                            span студии, 2 и 3 спальни
                                        li
                                            img(src='./img/svg/scale.svg' alt="")
                                            span от 37 до 111 м²
                                        li
                                            img(src='./img/svg/ruble.svg' alt="")
                                            span от 12 млн.
                                    .button-g.card__btn Подобрать в этом комплексе

                            .swiper-slide.card
                                .card__img-ibg
                                    img(src='./img/png/Mask.webp' alt="")
                                .card__padding
                                    .card__name PANTHEON ELYSEE III
                                    ul.card__description
                                        li
                                            img(src='./img/svg/double-bed.svg' alt="")
                                            span студии, 2 и 3 спальни
                                        li
                                            img(src='./img/svg/scale.svg' alt="")
                                            span от 37 до 111 м²
                                        li
                                            img(src='./img/svg/ruble.svg' alt="")
                                            span от 12 млн.
                                    .button-g.card__btn Подобрать в этом комплексе


                .main-tab__body(data-tabs-item="5")
                    .swiper.card-swiper
                        .swiper-wrapper
                            .swiper-slide.card
                                .card__img-ibg
                                    img(src='./img/png/Mask.webp' alt="")
                                .card__padding
                                    .card__name PANTHEON ELYSEE III
                                    ul.card__description
                                        li
                                            img(src='./img/svg/double-bed.svg' alt="")
                                            span студии, 2 и 3 спальни
                                        li
                                            img(src='./img/svg/scale.svg' alt="")
                                            span от 37 до 111 м²
                                        li
                                            img(src='./img/svg/ruble.svg' alt="")
                                            span от 12 млн.
                                    .button-g.card__btn Подобрать в этом комплексе
                            .swiper-slide.card
                                .card__img-ibg
                                    img(src='./img/png/Mask.webp' alt="")
                                .card__padding
                                    .card__name PANTHEON ELYSEE III
                                    ul.card__description
                                        li
                                            img(src='./img/svg/double-bed.svg' alt="")
                                            span студии, 2 и 3 спальни
                                        li
                                            img(src='./img/svg/scale.svg' alt="")
                                            span от 37 до 111 м²
                                        li
                                            img(src='./img/svg/ruble.svg' alt="")
                                            span от 12 млн.
                                    .button-g.card__btn Подобрать в этом комплексе

                            .swiper-slide.card
                                .card__img-ibg
                                    img(src='./img/png/Mask.webp' alt="")
                                .card__padding
                                    .card__name PANTHEON ELYSEE III
                                    ul.card__description
                                        li
                                            img(src='./img/svg/double-bed.svg' alt="")
                                            span студии, 2 и 3 спальни
                                        li
                                            img(src='./img/svg/scale.svg' alt="")
                                            span от 37 до 111 м²
                                        li
                                            img(src='./img/svg/ruble.svg' alt="")
                                            span от 12 млн.
                                    .button-g.card__btn Подобрать в этом комплексе


                .main-tab__body(data-tabs-item="6")
                    .swiper.card-swiper
                        .swiper-wrapper
                            .swiper-slide.card
                                .card__img-ibg
                                    img(src='./img/png/Mask.webp' alt="")
                                .card__padding
                                    .card__name PANTHEON ELYSEE III
                                    ul.card__description
                                        li
                                            img(src='./img/svg/double-bed.svg' alt="")
                                            span студии, 2 и 3 спальни
                                        li
                                            img(src='./img/svg/scale.svg' alt="")
                                            span от 37 до 111 м²
                                        li
                                            img(src='./img/svg/ruble.svg' alt="")
                                            span от 12 млн.
                                    .button-g.card__btn Подобрать в этом комплексе
                            .swiper-slide.card
                                .card__img-ibg
                                    img(src='./img/png/Mask.webp' alt="")
                                .card__padding
                                    .card__name PANTHEON ELYSEE III
                                    ul.card__description
                                        li
                                            img(src='./img/svg/double-bed.svg' alt="")
                                            span студии, 2 и 3 спальни
                                        li
                                            img(src='./img/svg/scale.svg' alt="")
                                            span от 37 до 111 м²
                                        li
                                            img(src='./img/svg/ruble.svg' alt="")
                                            span от 12 млн.
                                    .button-g.card__btn Подобрать в этом комплексе

                            .swiper-slide.card
                                .card__img-ibg
                                    img(src='./img/png/Mask.webp' alt="")
                                .card__padding
                                    .card__name PANTHEON ELYSEE III
                                    ul.card__description
                                        li
                                            img(src='./img/svg/double-bed.svg' alt="")
                                            span студии, 2 и 3 спальни
                                        li
                                            img(src='./img/svg/scale.svg' alt="")
                                            span от 37 до 111 м²
                                        li
                                            img(src='./img/svg/ruble.svg' alt="")
                                            span от 12 млн.
                                    .button-g.card__btn Подобрать в этом комплексе


        .form-book
            h2.form-book__title Понравилась подборка? Закажите расширенный каталог по этой категории
            p.form-book__subTitle Lorem ipsum dolor sit amet, consectetur adipiscing elit. Urna tristique commodo pharetra, aliquam quis tortor. Ut nunc volutpat et mi arcu. Urna nulla pharetra tortor fringilla augue placerat lectus. Pretium ipsum netus enim varius.
            .form-book__grid
                form.form-book__form
                    .form-book__width
                        input.input(placeholder='Ваше имя')
                        input.input(placeholder='+ 7 (999) 999 99 99')
                        input.input(placeholder='E-mail')

                    p Нажав на кнопку, я даю согласие на обработку <a href=''>персональных данных</a>
                    button.button-g.form-book__btn Заказать
                .form-book__pic
                    img(src='./img/png/a__.webp' alt="")
