section.twoSlider
    .twoSlider__container
        .twoSlider__left
            h2.twoSlider__title этапы работы
            .twoSlider__nav
                .twoSlider__btn-p
                    svg(width='50', height='50', viewbox='0 0 50 50', fill='none', xmlns='http://www.w3.org/2000/svg')
                        path(d='M49.5 25C49.5 38.531 38.531 49.5 25 49.5C11.469 49.5 0.499998 38.531 0.499999 25C0.499999 11.469 11.469 0.500001 25 0.500001C38.531 0.500002 49.5 11.469 49.5 25Z', fill='white', stroke='#E2E5E7')
                        path(fill-rule='evenodd', clip-rule='evenodd', d='M33 25.411C33 25.7838 32.6684 26.086 32.2594 26.086L18.486 26.086L20.9386 28.9056C21.1927 29.1978 21.1389 29.6223 20.8183 29.8539C20.4978 30.0855 20.032 30.0364 19.7779 29.7443L16 25.4012L19.7885 21.2437C20.0499 20.957 20.5168 20.9176 20.8314 21.1558C21.1461 21.3939 21.1893 21.8195 20.928 22.1063L18.5315 24.736L32.2594 24.736C32.6684 24.736 33 25.0383 33 25.411Z', fill='#0D2839')

                .twoSlider__pagination

                .twoSlider__btn-n
                    svg(width='50', height='50', viewbox='0 0 50 50', fill='none', xmlns='http://www.w3.org/2000/svg')
                        path(d='M49.5 25C49.5 38.531 38.531 49.5 25 49.5C11.469 49.5 0.499998 38.531 0.499999 25C0.499999 11.469 11.469 0.500001 25 0.500001C38.531 0.500002 49.5 11.469 49.5 25Z', fill='white', stroke='#E2E5E7')
                        path(fill-rule='evenodd', clip-rule='evenodd', d='M16 25.589C16 25.2162 16.3316 24.914 16.7406 24.914L30.514 24.914L28.0614 22.0944C27.8073 21.8022 27.8611 21.3777 28.1817 21.1461C28.5022 20.9145 28.968 20.9636 29.2221 21.2557L33 25.5988L29.2115 29.7563C28.9501 30.043 28.4832 30.0824 28.1686 29.8442C27.8539 29.6061 27.8107 29.1805 28.072 28.8937L30.4685 26.264L16.7406 26.264C16.3316 26.264 16 25.9617 16 25.589Z', fill='#0D2839')

            .twoSlider__text
                .swiper.tex-slide
                    .swiper-wrapper
                        .swiper-slide.twoSlider__text
                            h3 1. оставляете заявку
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vel tellus ipsum, tristique nisi. Posuere maecenas enim, fermentum a. Pretium eu magna magna lectus sit vulputate. Nunc enim, lacinia leo sollicitudin euismod id nam morbi tempus. Metus diam velit urna ornare mi odio a tellus. Nisl et faucibus tempor elementum, et. Quam non ultrices quis morbi scelerisque ante interdum. Curabitur sit est laoreet amet risus, ipsum. Auctor suspendisse orci at ipsum, nisi, integer. Vivamus lectus felis turpis aliquam viverra eu lorem. Pretium quis in quisque consequat, nisi.

                        .swiper-slide.twoSlider__text
                            h3 1. оставляете заявку
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vel tellus ipsum, tristique nisi. Posuere maecenas enim, fermentum a. Pretium eu magna magna lectus sit vulputate. Nunc enim, lacinia leo sollicitudin euismod id nam morbi tempus. Metus diam velit urna ornare mi odio a tellus. Nisl et faucibus tempor elementum, et. Quam non ultrices quis morbi scelerisque ante interdum. Curabitur sit est laoreet amet risus, ipsum. Auctor suspendisse orci at ipsum, nisi, integer. Vivamus lectus felis turpis aliquam viverra eu lorem. Pretium quis in quisque consequat, nisi.

                        .swiper-slide.twoSlider__text
                            h3 1. оставляете заявку
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vel tellus ipsum, tristique nisi. Posuere maecenas enim, fermentum a. Pretium eu magna magna lectus sit vulputate. Nunc enim, lacinia leo sollicitudin euismod id nam morbi tempus. Metus diam velit urna ornare mi odio a tellus. Nisl et faucibus tempor elementum, et. Quam non ultrices quis morbi scelerisque ante interdum. Curabitur sit est laoreet amet risus, ipsum. Auctor suspendisse orci at ipsum, nisi, integer. Vivamus lectus felis turpis aliquam viverra eu lorem. Pretium quis in quisque consequat, nisi.

        .twoSlider__img
            .swiper.pic-slide
                .swiper-wrapper
                    .swiper-slide.twoSlider__img-slide-ibg
                        img(src='./img/png/iphone.webp' alt='')
                    .swiper-slide.twoSlider__img-slide-ibg
                        img(src='./img/png/iphone.webp' alt='')
                    .swiper-slide.twoSlider__img-slide-ibg
                        img(src='./img/png/iphone.webp' alt='')

